<!DOCTYPE html>
<html>
    <head>
        <script src="js/script.js"></script>
    </head>
    <body>
        <h1>Welcome, <%= user %>!</h1>
        <%- include('./partials/logout') %>
    </body>
</html>
